<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" version="2.1" id="https://addons.opera.com/addons/extensions/details/facebook-notifications/">
  <name>Facebook Notifications</name>
  <icon src="images/icon_64x64.png"/>
  <icon src="images/icon_18x18.png"/>
  <preference name="ButtonUse" value="1"/>
  <preference name="updateNb" value="15"/>
  <feature name="opera:share-cookies" required="true"/>
  <access origin="http://facebook.com" subdomains="true"/>
  <access origin="https://facebook.com" subdomains="true"/>
  <license>Copyright 2011 d3v1lm33. All rights reserved.</license>
  <author href="http://twitter.com/d3v1lm33">d3v1lm33</author>
  <update-description href="https://extension-updates.opera.com/api/w3c-wd1/update/07b26095-f082-4b6b-85a0-c5fb13ae6b9d/"/>
  <description xml:lang="en">Add a button which show the count of unread notifications on a toolbar button, or the favicon.</description>
</widget>
